<h1>LEAVE ME A MESSAGE</h1>

<%= render 'form' %>

<div class="row-custom">

  <% @messages.each do |m| %>
    <div class="item">
      <div class="well">
        <p><strong>From: <%= m.first_name.capitalize %></strong><br />
        <%= m.message %></p>
        <%= render partial: 'message', locals: { message: m } %>
      </div>
    </div>
    <% end %>

</div>
