# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 68417a9c4c712b26ec96f3282912ef886af533a9a8ce18117edec82d9aa2f44c0073dc3f4b5a641a5632bca763cf535a232a4a940adf68ec40e0ceb9ae35fa38
  consumer_key: example_key
  consumer_secret: example_key
  access_token: example_key
  access_token_secret: example_key

test:
  secret_key_base: 15d4508ffa6bf1c0a606f676e7b239ac6696e557612249dd27ba54aa91cc0bcfd30b589e9a8889dad2114c3b264aebfe1f46e0df79bd0ffd7714b72981458bc5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
